* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
}

.contenedor {
  width: 960px; 
  margin: 0 auto;
  overflow: hidden;
}

header {
  background: #222;
  border-bottom: 4px solid #0ea7d9;
  padding: 15px 0;
}

header .contenedor {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
}

header h1 {
  margin: 0;
  font-size: 24px;
  color: #fff;
}

header .azul {
  color: #0ea7d9;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

header nav a:hover,
header nav a.activo {
  color: #0ea7d9;
}

.boletin {
  background: #333;
  color: white;
  padding: 30px; 
}

.boletin .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  gap: 10px;
}

.boletin input {
  padding: 8px;
  border: none;
}

.boletin button {
  padding: 10px 15px;
  border: none;
  background: orangered;
  color: white;
  cursor: pointer;
}

.principal_contenedor {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  margin: 40px 0;
}

.principal_contenedor article {
  flex: 2 1 600px; 
  padding: 20px;
}

.servicio {
  background: #cec7c7; 
  border: 1px solid #a9a2a2;
  margin-bottom: 15px;
  padding: 15px;
  height: 170px;
}

.principal_contenedor aside {
  flex: 0 0 300px; 
  background: #2f3b42;
  color: white;
  padding: 18px;
  margin-right:100px;
  margin-left: 40px;
  height: 25%;
}

footer {
  background: deepskyblue;
  color: white;
  text-align: center;
  padding: 50px; 
  margin-top: 20px;
}
